.card {
  border: 2px solid;
  width: 470px;
  height: 1020px;
  display: flex;
  border-radius: 20px;
  background-color: rgba(170, 23, 23, 0.589);
  flex-direction: column;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1100px;
  background-color: #800000;
  margin: 0;
}
.darc {
  border-bottom: 2px solid black;
  height: min-content;
}
.ok {
  border-bottom: 2px solid black;
  height: min-content;
}
.user {
  font-size: xx-large;
  color: tomato;
}
.pass {
  font-size: xx-large;
  color: tomato;
}
.text1 {
  border: 2px solid;
  height: 40px;
  border-radius: 20px;
  background-color: #990000;
  transition:
    color 0.6s ease-in-out,
    background-color 0.6s ease-in-out,
    border-color 0.6s ease-in-out;
}
.pass1 {
  border: 2px solid;
  height: 40px;
  border-radius: 20px;
  background-color: #990000;
  transition:
    color 0.6s ease-in-out,
    background-color 0.6s ease-in-out,
    border-color 0.6s ease-in-out;
}
form {
  display: flex;
  flex-direction: column;
}
.text1:hover {
  background-color: #ff0000;
  color: rgb(172, 7, 7);
  border-color: rgb(112, 22, 22);
}
.pass1:hover {
  background-color: #ff0000;
  color: rgb(172, 7, 7);
  border-color: rgb(112, 22, 22);
}
.spani {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup1 {
  text-decoration: none;
  color: tomato;
  font-size: larger;
  border: 2px solid;
  height: 25px;
  width: 60px;
  transition: color 0.7s ease;
}
a:hover {
  color: #ff0000;
}
.divi {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  gap: 20px;
}
.skibidi {
  text-decoration: none;
  color: tomato;
  transition: color 0.7s ease-in;
  gap: 20px;
  border: 2px solid;
  height: 25px;
  width: 60px;
}
.gender {
  height: 30px;
  background-color: rgba(170, 23, 23, 0.589);
}
